.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85px;
    margin: 0px;
    padding: 0px;
    background-color: olivedrab;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.intro-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
}

p{
    margin: 8px;
    padding: 5px;
    font-size: 14px;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}